In [2]:
#import the datasets
import pandas as pd
productionDataset = pd.read_csv('https://www.wolframcloud.com/obj/mar/Hamoye/Session%202/Data/Africa%20Food%20Production%20(2004%20-%202013).csv')
productionDataset['Year'] = pd.to_datetime(productionDataset['Year'], format = '%Y').dt.year
print(productionDataset)

        Country                Item  Year  Value
0       Algeria  Wheat and products  2004   2731
1       Algeria  Wheat and products  2005   2415
2       Algeria  Wheat and products  2006   2688
3       Algeria  Wheat and products  2007   2319
4       Algeria  Wheat and products  2008   1111
...         ...                 ...   ...    ...
23105  Zimbabwe         Crustaceans  2009      0
23106  Zimbabwe         Crustaceans  2010      0
23107  Zimbabwe         Crustaceans  2011      0
23108  Zimbabwe         Crustaceans  2012      0
23109  Zimbabwe         Crustaceans  2013      0

[23110 rows x 4 columns]

In [5]:
import pandas as pd
consumptionData=pd.read_csv('https://www.wolframcloud.com/obj/mar/Hamoye/Session%202/Data/Africa%20Food%20Supply%20(2004%20-%202013).csv')
consumptionData['Year'] = pd.to_datetime(consumptionData['Year'], format = '%Y').dt.year
print(consumptionData)
consumptionData.dtypes

      Country  Year  Value
0     Algeria  2004   2987
1     Algeria  2005   2958
2     Algeria  2006   3047
3     Algeria  2007   3041
4     Algeria  2008   3048
..        ...   ...    ...
445  Zimbabwe  2009   2147
446  Zimbabwe  2010   2168
447  Zimbabwe  2011   2200
448  Zimbabwe  2012   2197
449  Zimbabwe  2013   2110

[450 rows x 3 columns]

Country    object
Year        int64
Value       int64
dtype: object

In [18]:
consumptionData_filter = consumptionData.loc[consumptionData['Year'] >= 2004, ]
consumptionData_filter2 = consumptionData_filter[consumptionData['Year'] <= 2006]
filter3 = consumptionData_filter2.groupby('Country').sum()
filter3.sort_values(by=['Value'], inplace=True)
print(filter3)

                             Year  Value
Country
Zambia                       6015   5577
Ethiopia                     6015   5827
Central African Republic     6015   6044
Rwanda                       6015   6050
Chad                         6015   6082
Madagascar                   6015   6123
Zimbabwe                     6015   6184
Mozambique                   6015   6208
Angola                       6015   6226
Sierra Leone                 6015   6261
Kenya                        6015   6344
Liberia                      6015   6368
United Republic of Tanzania  6015   6373
Congo                        6015   6449
Botswana                     6015   6539
Malawi                       6015   6626
Djibouti                     6015   6715
Namibia                      6015   6741
Togo                         6015   6767
Guinea-Bissau                6015   6783
Senegal                      6015   6795
Sudan                        6015   6898
Cameroon                     6015   6911
Uganda                       6015   6954
Swaziland                    6015   7166
Gambia                       6015   7304
Niger                        6015   7339
Benin                        6015   7346
Guinea                       6015   7372
Burkina Faso                 6015   7527
Cabo Verde                   6015   7553
Sao Tome and Principe        6015   7613
Lesotho                      6015   7703
Mali                         6015   7777
Mauritania                   6015   7831
Nigeria                      6015   8085
Gabon                        6015   8107
Ghana                        6015   8257
Cote d'Ivoire                6015   8308
South Africa                 6015   8819
Algeria                      6015   8992
Mauritius                    6015   9054
Morocco                      6015   9740
Tunisia                      6015   9741
Egypt                        6015  10065

In [9]:
productionDataset1= pd.DataFrame(productionDataset)
productionDataset_oat_filtered = productionDataset1.loc[productionDataset1['Item'] == 'Oats']
productionDataset_oat_filtered1 = productionDataset_oat_filtered.loc[productionDataset1_filtered['Year'] == 2010]
productionDataset_oat_filtered1

            Country  Item  Year  Value
46          Algeria  Oats  2010     88
6406       Ethiopia  Oats  2010     48
7746          Ghana  Oats  2010      0
9286          Kenya  Oats  2010      3
10026       Lesotho  Oats  2010      0
13186       Morocco  Oats  2010     37
17816  South Africa  Oats  2010     34
20056       Tunisia  Oats  2010      2
22516      Zimbabwe  Oats  2010      1

In [10]:
#productionDataset retrieve 
productionDataset_rice_filtered = productionDataset.loc[productionDataset['Item'] == 'Rice (Milled Equivalent)' ]
productionDataset_rice_filtered1 = productionDataset_rice_filtered.loc[productionDataset_rice_filtered['Year'] >= 2004 ]
productionDataset_rice_filtered2 = productionDataset_rice_filtered1.loc[productionDataset_rice_filtered1['Year'] <= 2013]
productionDataset_rice_filtered3 = productionDataset_rice_filtered2.groupby('Country').agg({"Value" : "sum"})
productionDataset_rice_filtered3.sort_values(by=['Value'], inplace=True)
print(productionDataset_rice_filtered3)

                             Value
Country
Algeria                          0
Swaziland                        0
Mauritius                        1
Zimbabwe                         1
Congo                           10
Gabon                           10
South Africa                    22
Angola                         103
Sudan                          170
Zambia                         212
Central African Republic       261
Niger                          267
Morocco                        274
Gambia                         325
Ethiopia                       469
Rwanda                         482
Kenya                          504
Togo                           653
Malawi                         674
Mauritania                     751
Cameroon                       767
Benin                          850
Guinea-Bissau                 1030
Mozambique                    1110
Chad                          1167
Uganda                        1234
Burkina Faso                  1265
Liberia                       1602
Ghana                         2443
Senegal                       2462
Sierra Leone                  6038
Cote d'Ivoire                 6439
Mali                         10371
Guinea                       10400
United Republic of Tanzania  10956
Madagascar                   26118
Nigeria                      26964
Egypt                        40370